# Submitted by: Tejaswani Yadav

In [18]:
#importing all the neccesary libariries
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [19]:
# Reading the csv file
df = pd.read_csv('World_Indicators.csv')

In [20]:
# Displaying the top 5 records of the dataframe
df.head(5)

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Region,Tourism Inbound,Tourism Outbound,Year
0,0.020,NaN,87931.0,Algeria,NaN,NaN,26998.0,5.479006e+10,0.035,60.0,...,1,0.342,0.619,0.039,31719449,0.599,Africa,102000000.0,193000000.0,12/1/2000
1,0.050,NaN,9542.0,Angola,NaN,NaN,7499.0,9.129595e+09,0.034,22.0,...,1,0.476,0.499,0.025,13924930,0.324,Africa,34000000.0,146000000.0,12/1/2000
2,0.043,NaN,1617.0,Benin,NaN,NaN,1983.0,2.359122e+09,0.043,15.0,...,1,0.454,0.517,0.029,6949366,0.383,Africa,77000000.0,50000000.0,12/1/2000
3,0.027,NaN,4276.0,Botswana,NaN,NaN,1836.0,5.788312e+09,0.047,152.0,...,1,0.383,0.587,0.029,1755375,0.532,Africa,227000000.0,209000000.0,12/1/2000
4,0.046,NaN,1041.0,Burkina Faso,NaN,NaN,NaN,2.610959e+09,0.051,12.0,...,1,0.468,0.505,0.028,11607944,0.178,Africa,23000000.0,30000000.0,12/1/2000

In [21]:
# handling the missing values buy filling the na values with the upcoming next value.
dfbfill=df.fillna(method='bfill')

In [22]:
#Filling the na values with median value the column
dfbfill['CO2 Emissions']=dfbfill['CO2 Emissions'].fillna(dfbfill['CO2 Emissions'].median())

In [23]:
# filling the na values with previous cell value
dfbfillFinal=dfbfill.fillna(method='pad')

In [24]:
# finding the main region values of the dataset
np.unique(dfbfillFinal['Region'])

array(['Africa', 'Asia', 'Europe', 'Middle East', 'Oceania',
       'The Americas'], dtype=object)

In [25]:
# finding out the numeric columns 
dfbfillFinal.select_dtypes(include = 'number').columns

Index(['Birth Rate', 'Business Tax Rate', 'CO2 Emissions',
       'Days to Start Business', 'Ease of Business', 'Energy Usage', 'GDP',
       'Health Exp % GDP', 'Health Exp/Capita', 'Hours to do Tax',
       'Infant Mortality Rate', 'Internet Usage', 'Lending Interest',
       'Life Expectancy Female', 'Life Expectancy Male', 'Mobile Phone Usage',
       'Number of Records', 'Population 0-14', 'Population 15-64',
       'Population 65+', 'Population Total', 'Population Urban',
       'Tourism Inbound', 'Tourism Outbound'],
      dtype='object')

In [26]:
# Storing the numeric columns into a list 
NumericColumnNames=['Birth Rate', 'Business Tax Rate', 'CO2 Emissions',
       'Days to Start Business', 'Ease of Business', 'Energy Usage', 'GDP',
       'Health Exp % GDP', 'Health Exp/Capita', 'Hours to do Tax',
       'Infant Mortality Rate', 'Internet Usage', 'Lending Interest',
       'Life Expectancy Female', 'Life Expectancy Male', 'Mobile Phone Usage',
       'Number of Records', 'Population 0-14', 'Population 15-64',
       'Population 65+', 'Population Total', 'Population Urban',
       'Tourism Inbound', 'Tourism Outbound']

In [27]:
# Coverting the Year into date time type 
dfbfillFinal['Year']=pd.to_datetime(dfbfillFinal['Year'])

In [28]:
# Selecting the year from the year along with date
dfbfillFinal['Year'] = dfbfillFinal['Year'].dt.year

In [29]:
#dfbfillFinal.head(10)

In [30]:
# Finding the unique years of the dataset 
np.unique(dfbfillFinal['Year'])

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012], dtype=int64)

In [31]:
# Storing the year into a list
year=[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012]

In [32]:
# Creating function for the interact
def plt_func(xcol,ycol,xlog,ylog,year):
    df1=dfbfillFinal[dfbfillFinal['Year']==year] # Selecting the particular year data from the entire dataframe
    plt.figure(figsize=(8,8))
    splt=sns.scatterplot(data=df1, x=xcol, y=ycol, hue="Region")#Making the scatterplot from the selected data and coloring the points according to the region
    plt.legend(loc='upper left', title='Region')# Putting the legend on the upper left corner
    
    if ylog:#Handling the checkbox
        splt.set(yscale="log")
    if xlog:
        splt.set(xscale="log")

In [33]:
#Creating the plot with xcol and ycol dropdown, xlog and ylog checkbox and the slider for year
interact(plt_func,
         xcol = widgets.Dropdown(
                 options = NumericColumnNames,value='GDP'
                 ),
         ycol = widgets.Dropdown(
                options = NumericColumnNames,value='Energy Usage'
                 ),
         xlog=True,
         ylog=True,
         
         year=(year[0],
               year[-1]))

interactive(children=(Dropdown(description='xcol', index=6, options=('Birth Rate', 'Business Tax Rate', 'CO2 Eâ€¦